<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="path" value="C:\\report" />
    <add key="folder" value="/Plumrose/Info Indicadores/Reportes para la parametrización de SIGC/2020/" />
    <add key="token" value="ljTEJ6o9O8AAAAAAAAAAIzAI5Zqoh6_D4v2qZDztSWV-0yInqgQcmpKFi7JabgEN" />
    <add key="secretKey" value="qalkoayhnfg929s" />
    <add key="key" value="92br2br2znsryxv" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Spire.XLS" publicKeyToken="663f351905198cb3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.1.4.61046" newVersion="10.1.4.61046" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Spire.Pdf" publicKeyToken="663f351905198cb3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.1.4.2046" newVersion="6.1.4.2046" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>